p{
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;

  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  border-radius: 25px;

}

div{
    text-align: center;
     padding: 10px;
}

.number-container button {
  margin: 20px;
  width: 150px;
}

